<!DOCTYPE html>

<section class="intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="card">
              <h1 class="text-center">{{ tableTitle }}</h1>
              <div class="card-body p-0">
                <div
                  class="table-responsive table-scroll"
                  data-mdb-perfect-scrollbar="true"
                  style="position: relative; height: relative"
                >
                  <table class="table table-striped mb-0 text-center">
                    <thead style="background-color: #3f51b5">
                      <tr
                        [ngClass]="{ thSortable: viewOption.endsWith('all') }"
                      >
                        <th
                          *ngIf="viewOption.endsWith('all')"
                          (click)="sort('name')"
                          scope="col"
                        >
                          <div>Team</div>
                        </th>
                        <th
                          *ngIf="viewOption.endsWith('all')"
                          (click)="sort('score')"
                          scope="col"
                        >
                          <div>Score</div>
                        </th>
                      </tr>
                      <tr *ngIf="!viewOption.endsWith('all')">
                        <th scope="col">Team</th>
                        <th scope="col">Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let team of teamsList
                            | orderBy : sortColumn : reverse
                            | search : searchTerm
                        "
                      >
                        <td>{{ team.name }}</td>
                        <td>{{ team.score }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <span>
                    <input
                      *ngIf="viewOption.endsWith('all')"
                      class="col-12 border-3"
                      type="text"
                      [(ngModel)]="searchTerm"
                      placeholder="search by team name"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
