<!DOCTYPE html>

<section class="intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="card">
              <h1 class="text-center">{{ tableTitle }}</h1>
              <div class="card-body p-0">
                <div
                  class="table-responsive table-scroll"
                  data-mdb-perfect-scrollbar="true"
                  style="position: relative; height: relative"
                >
                  <table class="table table-striped mb-0 text-center">
                    <thead style="background-color: #3f51b5">
                      <tr>
                        <th scope="col">Home Team</th>
                        <th scope="col">Away Team</th>
                        <th scope="col">Score</th>
                        <th scope="col">Total points</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let matchUp of matchUpsList">
                        <td>{{ matchUp.homeTeam }}</td>
                        <td>{{ matchUp.awayTeam }}</td>
                        <td>
                          {{ matchUp.homeTeamScore }} :
                          {{ matchUp.awayTeamScore }}
                        </td>
                        <td>
                          {{ matchUp.homeTeamScore + matchUp.awayTeamScore }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
