<!DOCTYPE html>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="matches/all">All matches</a>
      <a mat-list-item routerLink="teams/all">All teams</a>
      <a mat-list-item routerLink="teams/topoffensive">Best offensive teams</a>
      <a mat-list-item routerLink="teams/topdefensive">Best defensive teams</a>
      <a mat-list-item routerLink="matches/highlight">Hihghlight match</a>
      <a mat-list-item routerLink="">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/images/Street_Hoop_Logo.png" />
      <span>
        StreetHoops - Your favourite basketball statistics web site!
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <img
      class="centerImage"
      src="assets/images/59533696-7d16-4490-a2e3-250625f2d7b3.png"
    />
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
